{% extends 'markdown/index.md.j2' %}

{% block any_cell %}
{%- if "remove" not in cell.metadata.get('tags', {}) -%}
{{ super() }}
{%- endif -%}
{% endblock any_cell %}

{% block output %}
{%- if "remove" not in cell.metadata.get('tags', {}) -%}
<div style="background-color: lightgrey">
{{ super() }}
</div>
{%- endif -%}
{% endblock output %}
